@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #2E2E2E;
    --secondary-color: #283593;
    --accent-color-1: #FFA726;
    --accent-color-2: #F5F5F5;
    --accent-color-3: #3FAFAF;
    --border-color-1: #3FAFAF;
    --highlight-color-1: #4169E1;
    --bg-color-1: #4A4A4A;
    --bg-color-2: #363636;
    --txt-color-1: #FFFFFF;
    --card-bg-1: #ededed;
}

body {
    font-family: "Jost", sans-serif;
    color: var(--dark-color);
    overflow-x: hidden;
}

/* Header */
.main-header {
    background: var(--primary-color);
    color: var(--txt-color-1);
}

.main-header .img-logo {
    width: 50px;
    border-radius: 50%;
}

.main-header .nav-profile-logo img {
    width: 25px;
    height:25px;
    border-radius: 50%;
}

.main-header .brand-name-span {
    color: var(--accent-color-1);
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
}

.main-header .brand-name-span:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--accent-color-1);
    height: 2px;
    width: 100%;
}

.main-header .navbar-nav > li {
    margin: 0 25px 0 10px;
}

.main-header .navbar-nav > li a {
    color: var(--txt-color-1);
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    position: relative;
}

.main-header .navbar-nav > li a:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: auto;
    width: 0;
    height: 2px;
    background: var(--accent-color-1);
    transition: ease all 0.3s;
}

.main-header .navbar-nav > li a:hover {
    color: var(--accent-color-1);
}

.main-header .navbar-nav > li a:hover:after {
    left: 0;
    right: auto;
    width: 100%;
}

.main-header .search-input {
    font-size: 12px;
    border: 2px solid var(--accent-color-3);
    width: 200px;
    height: 35px;
}

.main-header .btn {
    border: 2px solid var(--border-color-1);
    color: var(--border-color-1);
    background: var(--accent-color-2);
    font-size: 12px;
    height: 35px;
    transition: ease all 0.3s;
}

.main-header .btn:hover {
    border: 2px solid var(--accent-color-1);
    color: var(--accent-color-1);
    font-size: 13px;
}

@media (max-width: 991px) {
    .main-header .navbar-toggler {
        display: flex;
        flex-direction: column;
        border: none;
        padding: 4px 9px;
        outline: none;
        box-shadow: none;
    }
    
    .main-header .toggle {
        width: 25px;
        height: 2px;
        background: var(--secondary-color);
        margin: 3px;
    }

    .main-header ul > li:nth-child(4) {
        padding-bottom: 8px;
    }

    .main-header .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        padding: 15px;
        background-color: #FFFFFF;
    } 
}

/* Main */
.main-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: var(--bg-color-1);
}

/* Dashboard */
.dashboard {
    height: 100vh;
    background: var(--bg-color-1);
    padding-top: 40px;
    color: var(--txt-color-1);
}

.dashboard .row {
    padding: 0 50px 0 45px;
}

.dashboard .username {
    color: var(--accent-color-1);
    font-weight: 500;
}

.dashboard .current-date {
    font-size: 15px;
    font-weight: 300;
}

.dashboard .upper-btn {
    border: 2px solid var(--accent-color-3);
    color: var(--accent-color-3);
    font-size: 11px;
    font-weight: 600;
    width: 150px;
    background-color: var(--bg-color-2);
}

.dashboard .upper-btn:hover {
    border: 2px solid var(--accent-color-1);
    color: var(--accent-color-2);
    font-size: 12px;
    padding: 5px 0 5px 0;
    background-color: var(--bg-color-1);
    transition: ease-in all 0.2s;
}

.dashboard .upcoming-task {
    background-color: var(--bg-color-2);
    border-radius: 5px;
    height: 135px;
    overflow-y: scroll;
    border-top: 4px double rgb(242, 240, 240);
    border-bottom: 4px double rgb(242, 240, 240);
    border-left: 4px double rgb(242, 240, 240);
}

.dashboard .upcoming-task-text {
    font-size: 13px;
}

.dashboard .upcoming-task-btn {
    color: var(--highlight-color-1);
    border: 2px solid var(--accent-color-3);
    width: 100px;
    height: 19px;
    border-radius: 5px;
    background: var(--accent-color-2);
    font-size: small; 
}

.dashboard .task-checkbox {
    height: 10px;
}

.dashboard .recent-activity {
    background-color: var(--bg-color-2);
    border-radius: 5px;
    overflow-y: scroll;
    height: 135px;
    border-top: 4px double rgb(242, 240, 240);
    border-bottom: 4px double rgb(242, 240, 240);
    border-left: 4px double rgb(242, 240, 240);
}

.dashboard .recent-activity-text {
    font-size: 13px;
}

.dashboard .progress-text {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--accent-color-1);
}


/* Task Management Page */
.task-management {
    height: 100vh;
    padding-top: 30px;
    background: var(--bg-color-1);
    color: var(--txt-color-1);
}

.task-management .row {
    padding: 0 50px 0 60px;
}

.task-management .task-heading-name {
    color: var(--accent-color-1);
}

.task-management .task-main-btn {
    margin: 30px 0 20px 0;
}

.task-management .task-main-btn .filter-dropdown {
    border: 2px solid var(--accent-color-3);
    border-radius: 5px;
    font-size: 13px;
    width: 100px;
    padding: 3px 8px 3px 4px;
    background: var(--bg-color-2);
    color: var(--txt-color-1);
}

.task-management .task-main-btn button {
    border: 2px solid var(--accent-color-3);
    border-radius: 5px;
    color: var(--accent-color-3);
    font-size: 11px;
    font-weight: 600;
    width: 150px;
    padding: 5px 0 5px 0;
    background-color: var(--bg-color-2);
}

.task-management .task-main-btn button:hover {
    border: 2px solid var(--accent-color-1);
    color: var(--accent-color-2);
    font-size: 12px;
    padding: 4.3px 0 4.3px 0;
    background-color: var(--bg-color-1);
    transition: ease-in all 0.2s;
}

.task-management .task-card-container {
    height: 73.5vh;
    width: 95vw;
    background: var(--bg-color-2);
    overflow-y: scroll;
    border-top: 4px double rgb(242, 240, 240);
    border-bottom: 4px double rgb(242, 240, 240);
    border-left: 4px double rgb(242, 240, 240);
    border-radius: 5px;
    padding: 10px 0 10px 0;
    overflow-x: hidden;
}

.task-management .task-main-section .card-text {
    font-size: 10px;
    list-style: none;
}

.task-management .task-main-section .card-btn-group button {
    font-size: 11px;
    padding: 0 10px 0 10px;
    border-radius: 5px;
    border: 2px solid var(--bg-color-1);
    background: var(--accent-color-2);
    color: var(--primary-color);
}

.task-management .task-main-section .task-card-description {
    width: 80%;
    height: 80px;
    background: var(--bg-color-1);
    color: var(--txt-color-1);
    padding: 10px;
    font-size: 10px;
    border-radius: 5px;
    margin-top: 8px;
}

.task-management .task-main-section .profile-logo img {
    width: 25px;
    height: 25px;
    border: 2px solid var(--bg-color-2);
    border-radius: 50%;
}

.task-management .task-main-section .card {
    width: 32%;
}

.task-management .task-main-section .card-bg {
    background: var(--card-bg-1);
    
}


/* Project Management Page */
.project-management {
    height: 100vh;
    padding-top: 30px;
    background: var(--bg-color-1);
    color: var(--txt-color-1);
}

.project-management .row {
    padding: 0 50px 0 60px;
}

.project-management .project-heading-name {
    color: var(--accent-color-1);
}

.project-management .project-main-btn {
    margin: 30px 0 20px 0;
}

.project-management .project-card-container {
    height: 73.5vh;
    width: 95vw;
    background: var(--bg-color-2);
    overflow-y: scroll;
    border-top: 4px double rgb(242, 240, 240);
    border-bottom: 4px double rgb(242, 240, 240);
    border-left: 4px double rgb(242, 240, 240);
    border-radius: 5px;
    padding: 10px 0 10px 0;
    overflow-x: hidden;
}

.project-management .project-main-btn button {
    border: 2px solid var(--accent-color-3);
    border-radius: 5px;
    color: var(--accent-color-3);
    font-size: 11px;
    font-weight: 600;
    width: 150px;
    padding: 5px 0 5px 0;
    background-color: var(--bg-color-2);
}

.project-management .project-main-btn button:hover {
    border: 2px solid var(--accent-color-1);
    color: var(--accent-color-2);
    font-size: 12px;
    padding: 4.3px 0 4.3px 0;
    background-color: var(--bg-color-1);
    transition: ease-in all 0.2s;
}

.project-management .project-main-btn .filter-dropdown {
    border: 2px solid var(--accent-color-3);
    border-radius: 5px;
    font-size: 13px;
    width: 100px;
    padding: 3px 8px 3px 4px;
    background: var(--bg-color-2);
    color: var(--txt-color-1);
}

.project-management .project-main-section .card {
    width: 32%;
}

.project-management .project-main-section .card-text {
    font-size: 10px;
    list-style: none;
}

.project-management .project-main-section .card-btn-group {
    font-size: 11px;
    padding: 0 10px 0 10px;
    border-radius: 5px;
    border: 2px solid var(--bg-color-1);
    background: var(--accent-color-2);
    color: var(--primary-color);
    padding: 0 15px 0 15px;
}

.project-management .project-main-section .project-card-description {
    width: 100%;
    height: 80px;
    background: var(--bg-color-1);
    color: var(--txt-color-1);
    padding: 10px;
    font-size: 10px;
    border-radius: 5px;
    margin-top: 8px;
}


/* Collaboration Page */
.collaboration {
    height: 100vh;
    padding-top: 30px;
    background: var(--bg-color-1);
    color: var(--txt-color-1);
}

.collaboration .row {
    padding: 0 50px 0 60px;
}

.collaboration .collaboration-heading-name {
    color: var(--accent-color-1);
}

.collaboration .collaboration-main-btn {
    margin: 30px 0 20px 0;
}

.collaboration .collaboration-main-btn button {
    border: 2px solid var(--accent-color-3);
    border-radius: 5px;
    color: var(--accent-color-3);
    font-size: 11px;
    font-weight: 600;
    width: 160px;
    padding: 5px 0 5px 0;
    background-color: var(--bg-color-2);
}

.collaboration .collaboration-main-btn button:hover {
    border: 2px solid var(--accent-color-1);
    color: var(--accent-color-2);
    font-size: 12px;
    padding: 4.3px 0 4.3px 0;
    background-color: var(--bg-color-1);
    transition: ease-in all 0.2s;
}

.collaboration .collaboration-card-container {
    height: 73.5vh;
    width: 95vw;
    background: var(--bg-color-2);
    overflow-y: scroll;
    border-top: 4px double rgb(242, 240, 240);
    border-bottom: 4px double rgb(242, 240, 240);
    border-left: 4px double rgb(242, 240, 240);
    border-radius: 5px;
    padding: 10px 0 10px 0;
    overflow-x: hidden;
}

.collaboration .collaboration-card-container .collaboration-card-text {
    font-size: 12px;
}

.collaboration .collaboration-main-section .card {
    width: 49%;
}

.collaboration .collaboration-card-container .collaboration-task-project-list {
    width: 100%;
    padding-left: 0;
}

.collaboration .collaboration-card-container .collaboration-list {
    width: 100%;
    height: 80px;
    background: var(--bg-color-1);
    overflow-y: scroll;
    border: 4px double rgb(242, 240, 240);
    border-radius: 5px;
}

.collaboration .collaboration-main-section .card-btn-group {
    font-size: 11px;
    border-radius: 5px;
    border: 2px solid var(--bg-color-1);
    background: var(--accent-color-2);
    color: var(--primary-color);
    padding: 0 25px 0 25px;
}


/* Profile Page */
.profile-page {
    height: 100vh;
    padding-top: 30px;
    background: var(--bg-color-1);
    color: var(--txt-color-1);
}

.profile-page .row {
    padding: 0 50px 0 60px;
}

.profile-page .profile-heading-name {
    color: var(--accent-color-1);
}

.profile-page .profile-user-information img {
    width: 175px;
    height: 200px;
    border: 4px double rgb(242, 240, 240);
    border-radius: 5px;
}

.profile-page .profile-user-information .user-profile-text {
    font-size: 13px;
}

.profile-page .profile-user-information .user-profile-fullname {
    font-size: 15px;
}

.profile-page .profile-user-information button {
    border: 2px solid var(--accent-color-3);
    border-radius: 5px;
    color: var(--accent-color-3);
    font-size: 11px;
    font-weight: 600;
    width: 160px;
    padding: 5px 0 5px 0;
    background-color: var(--bg-color-2);
}

.profile-page .profile-user-information button:hover {
    border: 2px solid var(--accent-color-1);
    color: var(--accent-color-2);
    font-size: 12px;
    padding: 4.3px 0 4.3px 0;
    background-color: var(--bg-color-1);
    transition: ease-in all 0.2s;
}

.profile-page .profile-user-information .user-account-information legend {
    font-size: 18px;
    padding: 8px 0 5px 15px;
}

.profile-page .profile-user-information .user-account-information {
    border: 4px double rgb(106, 106, 106);
    border-radius: 5px;
    background: var(--bg-color-2);
    padding: 3px 15px 3px 15px;
    width: 80%;
    margin-left: 90px;
}

.profile-page .profile-user-information .user-account-information .account-information-text {
    font-size: 13px;
}

.profile-page .profile-analytics-log {
    width: 100%;
    height: 200px;
    border: 4px double rgb(242, 240, 240);
    border-radius: 5px;
}

.profile-page .analytics-section fieldset {
    border: 4px solid rgb(106, 106, 106);
    border-radius: 5px;
    background: var(--bg-color-2);
    padding: 3px 15px 3px 15px;
    width: 100%;
    height: 100%;
    border-right: 2px solid rgb(106, 106, 106);
}

.profile-page .analytics-section fieldset legend {
    font-size: 17px;
    padding: 5px 0 0 5px;
}

.profile-page .analytics-section fieldset p {
    font-size: 13px;
}

.profile-page .analytics-section fieldset button {
    border: 2px solid var(--accent-color-3);
    border-radius: 5px;
    color: var(--accent-color-3);
    font-size: 11px;
    font-weight: 600;
    width: 160px;
    padding: 5px 0 5px 0;
    background-color: var(--bg-color-2);
}

.profile-page .activity-log-section fieldset legend {
    font-size: 17px;
    padding: 5px 0 0 5px;
}

.profile-page .activity-log-section fieldset {
    border: 4px solid rgb(106, 106, 106);
    border-radius: 5px;
    background: var(--bg-color-2);
    padding: 3px 15px 3px 15px;
    width: 100%;
    height: 100%;
    border-right: 2px solid rgb(106, 106, 106);
}

.profile-page .activity-log-section fieldset .activity-logs-content {
    width: 95%;
    height: 68%;
    border: 2px solid rgb(242, 240, 240);
    overflow-y: scroll;
    border-radius: 5px;
    padding: 5px 8px 5px 8px;
    background: var(--border-color-1);
}

.profile-page .profile-bottom-section {
    width: 100%;
    height: 200px;
}

.profile-page .profile-bottom-section .profile-language-dropdown {
    border: 2px solid var(--accent-color-3);
    border-radius: 5px;
    font-size: 11px;
    width: 100px;
    height: 25px;
    padding: 3px 8px 3px 4px;
    background: var(--bg-color-2);
    color: var(--txt-color-1);
}

/* 
    Toggle Switch Notification 
*/
.switch-notification {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 19px;
    margin-left: 20px;
} 
/* Hide default HTML checkbox */
.switch-notification input {
    opacity: 0;
    width: 0;
    height: 0;
}
/* The slider */
.slider-notification {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 9px;
    background-color: #ccc;
    transition: .4s;
}
.slider-notification:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 26px;
    left: 4px;
    bottom: 0.9px;
    border-radius: 8px;
    background-color: white;
    transition: .4s;
} 
input:checked + .slider-notification {
    background-color: #2196F3;
} 
input:focus + .slider-notification {
    box-shadow: 0 0 1px #2196F3;
} 
input:checked + .slider-notification:before {
    transform: translateX(26px);
}
/* Rounded sliders */
.slider-notification.round {
    border-radius: 34px;
} 
.slider-notification.round:before {
    border-radius: 50%;
}
/* 
    End of Toggle Switch Notification 
*/
/* 
    Toggle Switch Theme 
*/
.switch-theme {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 19px;
    margin-left: 20px;
} 
/* Hide default HTML checkbox */
.switch-theme input {
    opacity: 0;
    width: 0;
    height: 0;
}
/* The slider */
.slider-theme {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 9px;
    background-color: #ccc;
    transition: .4s;
}
.slider-theme:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 26px;
    left: 4px;
    bottom: 0.9px;
    border-radius: 8px;
    background-color: var(--primary-color);
    transition: .4s;
} 
input:checked + .slider-theme {
    background-color: #2196F3;
} 
input:focus + .slider-theme {
    box-shadow: 0 0 1px #2196F3;
} 
input:checked + .slider-theme:before {
    transform: translateX(26px);
}
/* Rounded sliders */
.slider-theme.round {
    border-radius: 34px;
} 
.slider-theme.round:before {
    border-radius: 50%;
}
/* 
    End of Toggle Switch Theme 
*/

.profile-page .profile-bottom-section .subscription-preferences-section {
    height: 150px;
    border: 4px double rgb(242, 240, 240);
    border-radius: 5px;
    background: var(--bg-color-2);
}

.profile-page .profile-bottom-section .subscription-preferences-section legend {
    font-size: 17px;
    padding: 5px 0 0 5px;
}

.profile-page .profile-bottom-section .subscription-preferences-section p {
    font-size: 13px;
    padding-left: 25px;
}

.profile-page .profile-bottom-section .premium-feature-field button {
    border: 2px solid var(--accent-color-3);
    border-radius: 5px;
    color: var(--accent-color-3);
    font-size: 11px;
    font-weight: 600;
    width: 160px;
    padding: 5px 0 5px 0;
    margin: 0 0 8px 25px;
    background-color: var(--bg-color-2);
}

.profile-page .profile-bottom-section .profile-logout-delete-btn button {
    border: 2px solid var(--accent-color-3);
    border-radius: 5px;
    color: var(--accent-color-3);
    font-size: 11px;
    font-weight: 600;
    width: 160px;
    padding: 5px 0 5px 0;
    margin: 0 0 8px 25px;
    background-color: var(--bg-color-2);
}

.profile-page .profile-bottom-section .profile-logout-delete-btn button:hover {
    border: 2px solid var(--accent-color-1);
    color: var(--accent-color-2);
    font-size: 12px;
    padding: 4.3px 0 4.3px 0;
    background-color: var(--bg-color-1);
    transition: ease-in all 0.2s;
}













/* Footer */
.main-footer .footer {
    background-color: var(--bg-color-2);
    box-shadow: 0 -1px 2px;
    font-size: 12px;
    color: var(--accent-color-2);
}

.main-footer .footer p:first-child {
    padding-left: 25px;
}

.main-footer .footer a {
    text-decoration: none;
    color: var(--accent-color-2);
    font-weight: 600;
    position: relative;
}

.main-footer .footer a:after {
    content: "";
    position: absolute;
    left: auto;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background: var(--accent-color-1);
    transition: ease-in all 0.3s;
}

.main-footer .footer a:hover {
    color: var(--accent-color-1);
}

.main-footer .footer a:hover:after {
    left: 0;
    right: auto;
    width: 100%;
}