@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #2E2E2E;
    --secondary-color: #283593;
    --accent-color-1: #FFA726;
    --accent-color-2: #F5F5F5;
    --accent-color-3: #3FAFAF;
    --border-color-1: #3FAFAF;
    --highlight-color-1: #4169E1;
    --bg-color-1: #4A4A4A;
    --bg-color-2: #363636;
    --txt-color-1: #FFFFFF;
}

body {
    font-family: "Jost", sans-serif;
    color: var(--dark-color);
    overflow-x: hidden;
}

/* Header */
.main-header {
    background: var(--primary-color);
    color: var(--txt-color-1);
}

.main-header .img-logo {
    width: 50px;
    border-radius: 50%;
}

.main-header .nav-profile-logo img {
    width: 25px;
    height:25px;
    border-radius: 50%;
}

.main-header .brand-name-span {
    color: var(--accent-color-1);
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
}

.main-header .brand-name-span:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--accent-color-1);
    height: 2px;
    width: 100%;
}

.main-header .navbar-nav > li {
    margin: 0 25px 0 10px;
}

.main-header .navbar-nav > li a {
    color: var(--txt-color-1);
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    position: relative;
}

.main-header .navbar-nav > li a:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: auto;
    width: 0;
    height: 2px;
    background: var(--accent-color-1);
    transition: ease all 0.3s;
}

.main-header .navbar-nav > li a:hover {
    color: var(--accent-color-1);
}

.main-header .navbar-nav > li a:hover:after {
    left: 0;
    right: auto;
    width: 100%;
}

.main-header .search-input {
    font-size: 12px;
    border: 2px solid var(--accent-color-3);
    width: 200px;
    height: 35px;
}

.main-header .btn {
    border: 2px solid var(--border-color-1);
    color: var(--border-color-1);
    background: var(--accent-color-2);
    font-size: 12px;
    height: 35px;
    transition: ease all 0.3s;
}

.main-header .btn:hover {
    border: 2px solid var(--accent-color-1);
    color: var(--accent-color-1);
    font-size: 13px;
}

@media (max-width: 991px) {
    .main-header .navbar-toggler {
        display: flex;
        flex-direction: column;
        border: none;
        padding: 4px 9px;
        outline: none;
        box-shadow: none;
    }
    
    .main-header .toggle {
        width: 25px;
        height: 2px;
        background: var(--secondary-color);
        margin: 3px;
    }

    .main-header ul > li:nth-child(4) {
        padding-bottom: 8px;
    }

    .main-header .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        padding: 15px;
        background-color: #FFFFFF;
    } 
}

/* Main */
/* Dashboard */
.dashboard {
    height: 100vh;
    background: var(--bg-color-1);
    padding-top: 40px;
    color: var(--txt-color-1);
    /* display: none; */
}

.dashboard .row {
    padding: 0 50px 0 45px;
}

.dashboard .username {
    color: var(--accent-color-1);
    font-weight: 500;
}

.dashboard .current-date {
    font-size: 15px;
    font-weight: 300;
}

.dashboard .upper-btn {
    border: 2px solid var(--accent-color-3);
    color: var(--accent-color-3);
    font-size: 11px;
    font-weight: 600;
    width: 150px;
    background-color: var(--bg-color-2);
}

.dashboard .upper-btn:hover {
    border: 2px solid var(--accent-color-1);
    color: var(--accent-color-2);
    font-size: 12px;
    padding: 5px 0 5px 0;
    background-color: var(--bg-color-1);
    transition: ease-in all 0.2s;
}

.dashboard .upcoming-task {
    background-color: var(--bg-color-2);
    border-radius: 5px;
    height: 135px;
    overflow-y: scroll;
    border-top: 4px double rgb(242, 240, 240);
    border-bottom: 4px double rgb(242, 240, 240);
    border-left: 4px double rgb(242, 240, 240);
}

.dashboard .upcoming-task-text {
    font-size: 13px;
}

.dashboard .upcoming-task-btn {
    color: var(--highlight-color-1);
    border: 2px solid var(--accent-color-3);
    width: 100px;
    height: 19px;
    border-radius: 5px;
    background: var(--accent-color-2);
    font-size: small; 
}

.dashboard .task-checkbox {
    height: 10px;
}

.dashboard .recent-activity {
    background-color: var(--bg-color-2);
    border-radius: 5px;
    overflow-y: scroll;
    height: 135px;
    border-top: 4px double rgb(242, 240, 240);
    border-bottom: 4px double rgb(242, 240, 240);
    border-left: 4px double rgb(242, 240, 240);
}

.dashboard .recent-activity-text {
    font-size: 13px;
}

.dashboard .progress-text {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--accent-color-1);
}

/* Task Management Page */






/* Footer */
.main-footer .footer {
    background-color: var(--bg-color-2);
    box-shadow: 0 -1px 2px;
    font-size: 12px;
    color: var(--accent-color-2);
}

.main-footer .footer p:first-child {
    padding-left: 25px;
}

.main-footer .footer a {
    text-decoration: none;
    color: var(--accent-color-2);
    font-weight: 600;
    position: relative;
}

.main-footer .footer a:after {
    content: "";
    position: absolute;
    left: auto;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background: var(--accent-color-1);
    transition: ease-in all 0.3s;
}

.main-footer .footer a:hover {
    color: var(--accent-color-1);
}

.main-footer .footer a:hover:after {
    left: 0;
    right: auto;
    width: 100%;
}