@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #FF651C;
    --dark-color: #373737;
    --border-color: rgb(216, 216, 216);
}

body {
    font-family: "Jost", sans-serif;
    color: var(--dark-color);
    overflow-x: hidden;
}

/* Header */
.main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 1px 2px 1px #b0b0b0;
    background-color: #FFFFFF;
}

.main-header .img-logo {
    width: 50px;
    border-radius: 50%;
    box-shadow: 0 0 3px var(--dark-color);
}

.main-header .brand-name-span {
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
}

.main-header .brand-name-span:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--primary-color);
    height: 2px;
    width: 100%;
}

.main-header .navbar-nav > li {
    margin: 0 25px 0 10px;
}

.main-header .navbar-nav > li a {
    color: var(--dark-color);
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    position: relative;
}

.main-header .navbar-nav > li a:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: auto;
    width: 0;
    height: 2px;
    background: var(--primary-color);
    transition: ease all 0.3s;
}

.main-header .navbar-nav > li a:hover {
    color: var(--primary-color);
}

.main-header .navbar-nav > li a:hover:after {
    left: 0;
    right: auto;
    width: 100%;
}

.main-header .search-input {
    border: 2px solid var(--dark-color);
}

.main-header .btn {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    box-shadow: 3px 3px var(--dark-color);
}

.main-header .btn:hover {
    border: 2px solid var(--dark-color);
    color: var(--primary-color);
    background: var(--dark-color);
    box-shadow: 3px 3px var(--primary-color);
    transition: ease-in all 0.2s;
}

@media (max-width: 991px) {
    .main-header .navbar-toggler {
        display: flex;
        flex-direction: column;
        border: none;
        padding: 4px 9px;
        outline: none;
        box-shadow: none;
    }
    
    .main-header .toggle {
        width: 25px;
        height: 2px;
        background: var(--dark-color);
        margin: 3px;
    }

    .main-header ul > li:nth-child(4) {
        padding-bottom: 8px;
    }

    .main-header .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        padding: 15px;
        background-color: #FFFFFF;
    } 
}

/* Main */
.dashboard {
    height: 90vh;
}

.dashboard .row {
    margin-top: 110px;
    padding: 0 50px 0 45px;
}

.dashboard .username {
    color: var(--primary-color);
    font-weight: 500;
}

.dashboard .current-date {
    font-size: 15px;
    font-weight: 600;
}

.dashboard .upper-btn {
    border: 2px solid var(--border-color);
    color: var(--dark-color);
    font-size: 11px;
    font-weight: 600;
    width: 150px;
    background-color: rgb(242, 240, 240);
}

.dashboard .upper-btn:hover {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    font-size: 12px;
    padding: 5px 0 5px 0;
    background-color: var(--dark-color);
    transition: ease-in all 0.2s;
}

.dashboard .upcoming-task {
    background-color: rgb(242, 240, 240);
    border-radius: 5px;
    height: 125px;
    overflow-y: scroll;
    border-top: 4px double rgb(242, 240, 240);
    border-bottom: 4px double rgb(242, 240, 240);
}

.dashboard .upcoming-task-text {
    font-size: 13px;
}

.dashboard .upcoming-task-btn {
    color: #FFFFFF;
    border: 1px solid var(--border-color);
    font-size: 10px;
    width: 100px;
    height: 19px;
    border-radius: 5px;
    background-color: rgb(0, 153, 255);
}

.dashboard .recent-activity {
    background-color: rgb(242, 240, 240);
    border-radius: 5px;
    overflow-y: scroll;
    height: 125px;
    border-top: 4px double rgb(242, 240, 240);
    border-bottom: 4px double rgb(242, 240, 240);
}

.dashboard .recent-activity-text {
    font-size: 13px;
}

.dashboard .progress-text {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--primary-color);
}

/* Footer */
.main-footer .footer {
    background-color: #f1f1f1;
    box-shadow: 0 -1px 2px #c3c3c3;
}

.main-footer .footer p:first-child {
    padding-left: 25px;
}

.main-footer .footer a {
    text-decoration: none;
    color: var(--dark-color);
    font-weight: 600;
    position: relative;
}

.main-footer .footer a:after {
    content: "";
    position: absolute;
    left: auto;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background: var(--primary-color);
    transition: ease-in all 0.3s;
}

.main-footer .footer a:hover {
    color: var(--primary-color);
}

.main-footer .footer a:hover:after {
    left: 0;
    right: auto;
    width: 100%;
}